<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<style>
  body {
    background:       black;
    color:            #ff0066;
    font-family:      "Poiret One", sans-serif;
    font-weight:      bold;
  }
  table {
    border-collapse:  collapse;
  }
  td {
    border-style:     none;
    font-size:        1em;
    font-weight:      bold;
  }
  .email {
    color:            #ff0066;
    font-family:      "Poiret One", sans-serif;
    font-size:        1em;
    font-weight:      bold;
  }
</style>

<link
  href="https://fonts.googleapis.com/css?family=Poiret+One"
  rel="stylesheet">

<div id="app">
  <title>{{ title }}</title>
  <h1>{{ title }}</h1>
  <div height="50%">
    <img
      height="400px"
      src="img/box-june-2018.jpg"
      alt="Tired Souls band image">
  </div>
  <div height="50%">
    <div>
      <table>
        <tr><td><h1>Gigs</h1></td><td></td></tr>
        <tr v-for="gig in gigs">
          <td>{{ gig.location}}</td>
          <td>{{ gig.date }}</td>
        </tr>
        <tr><td><h1>Sounds</h1></td><td></td></tr>
        <tr v-for="track in tracks">
          <td>{{ track.title }}</td>
          <td class="audio"><audio v-bind:src="track.file" controls></td>
        </tr>
      </table>
    </div>
    <a
      class="email"
      href="mailto:info@tiredsouls.com">
      Contact Us
    </a>
  </div>
</div>

<script>
  var app = new Vue({
    el: "#app",
    data: {
      title: 'Tired Souls: A Band in Glasgow, UK',
      tracks: [
        {
          'title':  'Stems (rehearsal)',
          'file':   'audio/tired-souls-stems.mp3'
        },
        {
          'title':  'Forever (Shelter 2017)',
          'file':   'audio/tired-souls-forever.mp3'
        }
      ],
      gigs: [
        {
          'date':   'June 6th 2018',
          'location': 'BOX GLASGOW',
        }
      ]
    }
  })
</script>

